html{
    overflow-x: hidden;
}

body{
    min-width: 350px;
}

.navbar{
    background-color: white !important;
    box-shadow: 1px 1px 30px -4px rgb(0 0 0 / 50%);
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0px;
    height: 80px;
}

.navbar img{
    max-width: 150px;
    margin-left: 30px;
}

#carouselExampleControls{
    margin-bottom: 60px;
}

@media (max-width: 645px){
    .navbar{
        height: 60px !important;
    }
    .navbar img{
        max-width: 100px;
    }
    #carouselExampleControls{
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

.navbar-toggler {
    font-size: 0.75rem;
}


.navbar-collapse {
    background-color: white;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #008bc6;
}

#carouselExampleControls .carousel-control-next-icon, #carouselExampleControls .carousel-control-prev-icon {
    background-color: #008bc6;
    padding: 30px;
}

@media (max-width: 645px){
    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: #008bc6;
        padding: 10px !important;
    }
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1 !important;
    width: 5%;
}

@media (max-width: 645px){
    .carousel-control-next, .carousel-control-prev{
        opacity: 1 !important;
        width: 7%;
    }
}

.cards{
    text-align: center;
    font-size: 25px;
    margin: 150px 40px;
}

.cards img{
    height: 110px;
    width: 130px;
}

@media (max-width: 645px){
    .w-100 {
        height: 300px;
    }
    .cards{
        text-align: center;
        font-size: 20px;
        margin: 80px 20px;
    }
    .cards .col-sm-4{
        border-radius: 20px;
        border: solid 2px #008bc6;
        margin: 20px 0px;
        padding: 20px;
    }
    .cards img{
        height: 70px;
        width: 70px;
    }
}

.titulo_cards{
    font-weight: 900;
}


/*faixa azul tratamentos*/
.faixa_azul{
    padding: 30px 50px;
    background-color: #008ac3;
    width: 80%;
    border-radius: 0px 250px 250px 0px;
}

.titulo_fa{
    font-size: 48px;
    color: white;
}

.titulo-card-fa{
    font-weight: 900;
    text-align: center;
    color: #07648b;
    margin: 0%;
    padding: 10px;
    font-size: 24px;
}

.cards-fa img{
    width: 100%;
    height: 180px;
    border-radius: 30px 30px 0px 0px;
}

@media (max-width: 1200px){
    .titulo-card-fa{
        font-size: 17px;
    }
}

@media (max-width: 900px){
    .faixa_azul{
        width: 95%;
    }
    .cards-fa img{
        width: 100%;
        height: 100px;
    }
    .titulo_fa{
        font-size: 38px;
    }
}

@media (max-width: 750px){
    .faixa_azul{
        padding: 20px 10px;
        background-color: #008ac3;
        width: 98%;
        border-radius: 0px 200px 200px 0px;
    }
    .titulo_fa{
        font-size: 30px;
    }
}

@media (max-width: 450px){
    .titulo_fa{
        font-size: 25px;
    }
}


.carousel-control-next-fa, .carousel-control-prev-fa{
    border: none;
    background-color: transparent;
    width: 20%;
    text-align: center;
    margin-top: 20px;
}

.cards-fa{
    float: left;
    background-color: white;
    width: 30%;
    border-radius: 30px;
    margin-right: 10px;
}

/* Equipe */

.equipe{
    height: 500px;
    margin-top: 80px;
    padding: 20px;
}

.titulo_equipe{
    color: black;
    font-size: 28px;
    text-align: center;
    margin: 20px 0px 40px 0px;
}

#carouselExampleIndicators{
    min-width: 350px;
    padding: 0px;
}

.card-equipe{
    width: 24%;
    height: 300px;
    margin: 0% 4%;
    margin-top: 10%;
    float: left;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 1em black;
    text-align: center;
}

@media (max-width: 1200px){
    .card-equipe{
        height: 250px;
    }
}

@media (max-width: 950px){
    .card-equipe{
        height: 225px;
    }
}

@media (max-width: 775px){
    .card-equipe{
        height: 175px;
    }
}

@media (max-width: 645px){
    .equipe{
        padding: 10px;
    }
    .card-equipe{
        width: 29%;
        margin: 10% 2% 0% 2%;
        height: 150px;
    }
}

@media (max-width: 500px){
    .card-equipe{
        height: 100px;
    }
}

.card-equipe img{
    height: 120%;
    max-height: 480px;
    padding: 0px 15px;
    width: 100%;
    z-index: 99;
    margin-top: -25%;
}

.carousel-indicators {
    margin-bottom: -1rem;
}

.nome-equipe{
    background-color: white;
    width: 24%;
    margin: 15px 4%;
    float: left;
    text-align: center;
}

@media (max-width: 645px){
    .nome-equipe{
        background-color: white;
        width: 29%;
        margin: 2% 2% 0% 2%;
        float: left;
        text-align: center;
    }
}

.button-equipe{
    width: 15px !important;
    height: 15px !important;
    border: none !important;
    border-radius: 30px !important;
    background-color: #008ac3 !important;
    margin: 5px !important;
}

/* faixa azul */

.faixa_azul_t{
    width: 100%;
    max-height: 350px;
    margin-top: 600px;
    background-color: #008ac3;
    text-align: center;
}

.faixa_azul_t img{
    width: 550px;
    margin-top: -200px;
    height: 550px;
    left: 0px;
}

.icone_faixa_azul_t{
    max-width: 100px;
    max-height: 100px;
    margin-top: 20px!important;
}

.titulo_faixa_azul_t{
    color: white;
    font-size: 32px;
    font-weight: 900;
}

.texto_faixa_azul_t{
    color: white;
    font-size: 22px;
    padding: 10px 40px;
}

.button_faixa_azul_t{
    width: 200px;
    height: 50px;
    font-size: 22px;
    background-color: transparent;
    color: white;
    border-radius: 3px;
    border: solid white 2px;
}

@media (max-width: 1100px){
    .faixa_azul_t{
        width: 100%;
        max-height: 250px;
        margin-top: 300px;
    }
    
    .faixa_azul_t img{
        width: 400px;
        margin-top: -150px;
        height: 400px;
    }
    
    .icone_faixa_azul_t{
        max-width: 70px;
        max-height: 70px;
        margin-top: 10px!important;
    }
    
    .titulo_faixa_azul_t{
        color: white;
        font-size: 24px;
        font-weight: 900;
        margin: 0%;
    }
    
    .texto_faixa_azul_t{
        color: white;
        font-size: 18px;
        padding: 5px 20px;
        margin: 2px;
    }
    
    .button_faixa_azul_t{
        width: 180px;
        height: 50px;
        font-size: 18px;
        background-color: transparent;
        color: white;
        border-radius: 3px;
        border: solid white 2px;
    }
}

@media (max-width: 800px){
    .faixa_azul_t{
        width: 80%;
        border-radius: 0px 120px 0px 0px;
        max-height: 300px;
        margin-top: 180px;
    }
    .responsive_faixa_t{
        flex: 100%;
        margin-top: -10px;
        background-color: #008ac3;
        text-align: left;
        padding: 30px 40px;
        border-radius: 0px 0px 120px 0px;
    }
    .icone_faixa_azul_t{
        max-width: 100px;
        max-height: 100px;
        margin-top: 5px!important;
    }
    .texto_faixa_azul_t{
        color: white;
        font-size: 18px;
        padding: 20px 30px 30px 0px;
        margin: 2px 0px;
    }
}

@media (max-width: 550px){
    .faixa_azul_t img{
        width: 300px;
        margin-top: -150px;
        height: 300px;
    }
    .faixa_azul_t{
        width: 98%;
        border-radius: 0px 120px 0px 0px;
        max-height: 300px;
        margin-top: 100px;
    }
    .texto_faixa_azul_t{
        padding: 0px;
    }
    .responsive_faixa_t{
        text-align: center;
    }
}

.button_faixa_azul_t:hover{
    background-color: white;
    color: #008ac3;
    border-radius: 3px;
    border: solid white 3px
}